<ion-header>
  <ion-toolbar>
    <ion-title>
      Becas
    </ion-title>
    <!-- Botón de Cierre en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="goToProgramas()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Nuestros programas de becas universitarias apoyan a estudiantes talentosos mediante recursos financieros que facilitan su educación. Estas becas, que pueden cubrir parcial o totalmente los costos, se otorgan según rendimiento académico, necesidad económica o habilidades especiales. La universidad busca así crear un ambiente inclusivo, donde estudiantes de diversos contextos puedan acceder a una educación de calidad y desarrollar su potencial.
  </p>
</ion-content>
