# Dependencias de Node.js
node_modules/

# Archivos y carpetas generados por Ionic y Capacitor
platforms/
plugins/
www/
android/
ios/

# Archivos de configuración de entornos locales
*.local
.env
.env.*

# Archivos temporales o de caché
.idea/
.vscode/
.DS_Store
*.swp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación y configuración generados
dist/
build/
coverage/

# Archivos específicos de TypeScript y Angular
*.js
*.js.map
*.d.ts
.angular/

# Archivos específicos de Capacitor
capacitor.config.json

/.vscode