<ion-header>
  <ion-toolbar>
    <ion-title>
      Información Universidad
    </ion-title>
    <!-- Botón de Cierre en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="goToMenu()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <h2>Quiénes Somos</h2>
    <h3>MISIÓN</h3>
    <p>
      Somos una Institución de Educación Superior con vocación formativa, que trabaja apasionadamente para brindar más y mejores oportunidades de acceso a una formación integral, pertinente y de calidad, que transforma vidas y genera un impacto positivo en la sociedad.
    </p>
  </div>
</ion-content>
