<ion-header>
  <ion-toolbar>
    <ion-title>
      Fechas de Inscripciones
    </ion-title>
    <!-- Botón de Cierre en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="goToMenu()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <p>Las fechas de inscripción para el Politécnico Grancolombiano varían según el tipo de inscripción y el periodo académico:</p>
    
    <p><strong>Inscripciones y matrículas para el semestre cotemporal 2025-1:</strong> Del 29 de diciembre al 29 de febrero</p>
    
    <p><strong>Ingreso A:</strong> 2 de julio de 2025</p>
    
    <p><strong>Ingreso B:</strong> 20 de agosto de 2025</p>
    
    <p><strong>Ingreso C:</strong> 1 de octubre de 2025</p>
    
    <p><strong>Inscripciones a grados excepcionales del segundo semestre 2025:</strong> A partir del 15 de octubre</p>
    
    <p><strong>Preinscripción de asignaturas 2025-2:</strong> Del 1 al 16 de mayo</p>
  </div>
</ion-content>
