<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
    <!-- Botón de Cierre en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="goToMenu()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <p>Línea de Admisiones Bogotá: (601) 744 08 94 - 302 2907400 | Línea Gratuita: 01 8000 180537</p>
    
    <p>Línea de Servicio Bogotá: (601) 744 07 40 | Línea Gratuita: 01 8000 180 779</p>
    
    <p>Línea de Admisiones Medellín: (601) 744 08 94 - 302 2907400 | Línea Gratuita: 01 8000 180537</p>
    
    <p>Línea de Servicio Medellín: (604) 604 0200</p>
  </div>
</ion-content>
