<ion-header>
  <ion-toolbar>
    <ion-title>
      Intercambios
    </ion-title>
    <!-- Botón de Cierre en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="goToProgramas()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Nuestro programa de intercambios permite a los estudiantes estudiar en el extranjero, ampliando su formación académica y cultural. Mediante acuerdos con universidades internacionales, los participantes adquieren nuevas perspectivas, idiomas y habilidades globales, preparándolos para un mundo interconectado.
  </p>
</ion-content>
